#test1 {
  > .box {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background-color: gray;
  }
}
#test2 {
  > .box {
    width: 100px;
    height: 100px;
    background-color: gray;
  }
}
#test3 {
  > .box {
    width: 100px;
    height: 100px;
    background-color: gray;
  }
}
#test4 {
  > .box {
    width: 100px;
    height: 100px;
    background-color: gray;
  }
}
#test5 {
  display: flex;
  flex-wrap: nowrap;
  > .box {
    margin: 0 10px;
    width: 100px;
    height: 100px;
    background-color: gray;
  }
}
